/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.tabela-periodica {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(98vw/18);
    height: 75px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}

.numero {
	top: 5px;
	left: 50px;
	font-size: 14px;
    font-family: Calibri;
}

.simbolo {
	font-size: 24px;
    font-family: Georgia;
}

.nome {
	bottom: 5px;
	left: 5px;
	font-size: 10px;
    font-family: Georgia;
}

.empty{
    width: calc(98vw/18);
    height: 75px;
}

.massa {
	bottom: 5px;
	right: 100px;
	font-size: 10px;
    font-family: Calibri;
}

/* não-metais*/
.hidrogenio, .carbono, .nitrogenio, .oxigenio, .fosforo, .enxofre, .selenio{ background-color: #ab91ff; }
/* gases nobres*/
.helio, .neonio, .argonio, .criptonio, .xenonio, .radonio{ background-color: #91dfff; }
/* metais alcalinos*/
.litio, .sodio, .potassio, .rubidio, .cesio, .francio { background-color: #ffc591; }
/* metais alcalino-terrosos*/
.berilio, .magnesio, .calcio, .estroncio, .bario, .radio { background-color: #ffdf91; }
/* semi-metais*/
.boro, .silicio, .germanio, .arsenio, .antimonio, .telurio, .polonio{ background-color: #b8ff91; }
/* outros metais*/
.aluminio, .galio, .indio, .estanho, .talio, .chumbo, .bismuto { background-color: #fff991; }
/* metais de transição*/
.escandio, .titanio, .vanadio, .cromo, .manganes, .ferro, .cobalto, .niquel, .cobre, .zinco,
.itrio, .zirconio, .niobio, .molibdenio, .tecnecio, .rutenio, .rodio, .paladio, .prata, .cadmio,
.lutecio, .hafnio, .tantalo, .tungstenio, .renio, .osmio, .iridio, .platina, .ouro, .mercurio,
.laurencio, .rutherfordio, .dubnio, .seaborgio, .bohrio, .seaborgio, .hassio, .meitnerio, .darmstadtio, .roentgenio, .copernicio { background-color: #ecff91; }
/* lantanideos*/
.lantanio, .cerio, .praseodimio, .neodimio, .promecio, .samario, .europio, .gadolinio, .terbio, .disprosio, .holmio, .erbio, .tulio, .iterbio { background-color: #d2ff91; }
/* actinideos*/
.actinio, .torio, .protactinio, .uranio, .netunio, .plutonio, .americio, .curio, .berquelio, .californio, .einstenio, .fermio, .mendelevio, .nobelio { background-color: #b8ff91; }
/* halogênios*/
.fluor, .cloro, .bromo, .iodo, .astato { background-color: #f991ff; }
/* sem propriedades*/
.nihonio, .flerovio, .moscovio, .livermorio, .tennesso, .oganessonio { background-color: #c8c8c8; }